@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');


body{
  margin: 0;
}

.flex-container{
  display: flex;
  justify-content: center;
  background-color: hsl(30, 54%, 90%);
  height: 100vh;
}

.flex-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: auto;
  padding: 24px;
  border-radius: 20px;
  max-width: 400px;
  background-color: white;
}

.hero{
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 24px;
}

.bottom-bar{
  border: 0;
  border-bottom: 0.5px;
  border-style: solid;
  border-color: hsl(30, 18%, 87%);
  border-spacing: 20px;
  margin-bottom: 1em;
}

.ingredients{
  padding-bottom: 1em;
}